{{ define "body" }}
<h1>Routines</h1>
<div class="button-group">
  <form action="/routines/new" method="POST">
    <input type="submit" class="primary-button" value="New">
  </form>
</div>
<div>
  {{ if .Routines }}
    {{ range .Routines }}
    <div class="routine-item">
      <div>
        <h5 class="routine-name">{{ .Name }}</h5>
        <p class="routine-description">{{ .Description }}</p>
        <div class="button-group" style="display: flex;">
          <form action="/routines/{{ .ID }}" method="GET">
            <input class="primary-button" type="submit" value="📝" />
          </form>
          <form action="/routines/{{ .ID }}/delete" method="POST">
            <input class="error-button" type="submit" value="🗑️" />
          </form>
        </div>
      </div>
    </div>
    {{ end }}
  {{ else }}
    <p class="empty-message">No routines found.</p>
  {{ end }}
</div>
{{ end }}
