{{ define "body" }}
{{ with index .Routines 0 }}
<h1>Routine</h1>
<form method="POST" action="/routines/{{ .ID }}">
  <div class="form-group">
    <label for="routineName">Name</label>
    <input type="text" id="routineName" name="name" value="{{ .Name }}" class="routine-input" />
  </div>
  <div class="form-group">
    <label for="routineDescription">Description</label>
    <input type="text" id="routineDescription" name="description" value="{{ .Description }}" class="routine-input" />
  </div>
  <div class="form-group">
    <input type="submit" class="primary-button" value="Save" />
  </div>
</form>
{{ if .RoutineItems }}
<div class="routine-items-container">
  {{ range .RoutineItems }}
  <div class="routine-item">
    <div class="routine-item-header">
      <form action="/routine-items/{{ .ID }}/delete" method="POST" class="delete-form">
        <input type="submit" value="🗑️" class="delete-button">
      </form>
    </div>
    {{ if .ExerciseItems }}
    <div class="exercise-items-list">
      {{ range .ExerciseItems }}
      <div class="exercise-item">
        <div class="exercise-details" style="width: 100%;">
          <h3 class="exercise-name">{{ .Exercise.Name }}</h3>
          <form action="/exercise-items/{{ .ID }}" method="POST" class="rest-time-form">
            <label for="restTime">Rest time (seconds):</label>
            <input type="number" id="restTime" name="restTime" value="{{ .RestTime }}" min="0" max="3600" class="set-input" style="width: 60px">
            <button type="submit" class="set-submit">💾</button>
          </form>
          <div class="exercise-sets">
            <table class="set-table">
              <tr>
                <th>reps</th>
                <th>kg</th>
                <th>s</th>
                <th colspan="2">actions</th>
              </tr>
              {{ range .Sets }}
              <tr>
                <form action="/sets/{{ .ID }}" method="POST" class="set-form">
                  <td><input type="number" name="reps" value="{{ .Reps }}" min="1" max="99" placeholder="Reps" class="set-input"></td>
                  <td><input type="number" step="0.5" name="weight" value="{{ .Weight }}" min="1" max="300" placeholder="Weight" class="set-input"></td>
                  <td><input type="number" name="duration" value="{{ .Duration }}" min="1" max="7200" placeholder="Duration" class="set-input"></td>
                  <td class="set-actions" style="text-align: right">
                    <button type="submit" class="set-submit">💾</button>
                  </td>
                </form>
                <td class="set-actions">
                  <form action="/sets/{{ .ID }}/delete" method="POST" class="delete-form" style="text-align: left">
                    <button type="submit" class="set-submit">🗑️</button>
                  </form>
                </td>
              </tr>
              {{ end }}
              <tr>
                <td colspan="5">
                  <form action="/exercise-items/{{ .ID }}/new" method="POST" class="form-group add-set-form">
                    <input type="submit" class="secondary-button" value="New set" />
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <form action="/exercise-items/{{ .ID }}/delete" method="POST" class="delete-form">
          <input type="submit" value="🗑️" class="delete-button">
        </form>
      </div>
      {{ end }}
    </div>
    {{ else }}
    <p class="empty-message">No exercises in this item.</p>
    {{ end }}
    <form action="/exercises/{{ .ID }}" method="GET" class="add-form">
      <input type="submit" value="Add exercise (superset)" class="secondary-button">
    </form>
  </div>
  {{ end }}
</div>
{{ else }}
<p class="empty-message">No routine items.</p>
{{ end }}
<form action="/routines/{{ .ID }}/new" method="POST" class="add-form">
  <input type="submit" value="Add exercise" class="primary-button">
</form>
{{ end }}
{{ end }}
